.nav {
    display: flex;
    justify-content: space-between;
}
.menu-bar {
    display: none;
}
.menu-bar li {
    list-style-type: none;
}
.menu-bar li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}
.menu-btn {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    margin-left: 1rem;
}
.intro-section {
    position: relative;
}
/* .intro-section::before {
    content: "";
    position: absolute;
    top: 20rem;
    left: 0;
    width: 55%;
    height: 100%;
    background-color: #3A0CA3;
    border-radius: 100% 50%;
    transform-origin: bottom;
    rotate: z 80deg;
    transform: translateX(0%), translateY(50%);
} */
.intro-section::after {
    content: "";
    position: absolute;
    /* top: 30rem; */
    left: -5rem;
    width: 100%;
    height: 200px;
    background-color: #3A0CA3;
    border-radius: 80% 50%;
    transform: translateY(250%);
    /* rotate: 5deg; */
    /* z-index: -1; */
}
.product-summary {
    text-align: center;
    z-index: 9;
}
.product-summary h1,
.product-summary p,
.product-summary span{
    color: #ffffff;
}

.product-summary h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 900;
}

.product-summary p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.product-summary span {
    background-color: #ffffff;
    color:  #3A0CA3;
    padding: 1rem;
    border-radius: .2rem;
}

.product-summary span:hover {
    opacity: 85%;   
}

/* features styles */
.features {
    background-color: #e84855;
    padding-top: 8rem;
    text-align: center;
}

.features .center-animation img {
    width: 25rem;
}

.features .row-1,
.features .row-2{
    padding: 2rem;
}

.features div > h4 {
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 700;
}

.features div > p {
    color: #ffffff;
}

.features .row-1 div,
.features .row-2 div {
    margin-bottom: 2.5rem;
}