@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f2dc;
    overflow-x: hidden;
    font-family: "Inconsolata", sans-serif;
    font-weight: 600;
}

/* ratio one styles */
.ratio-one{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: #3A0CA3;
    color: #f8f2dc;
    font-size: 1.4rem;
    /* height: 100vh; */
}
.img-container {
    border-radius: 50%;
    width: 50%;
    height: 10rem;
    overflow: hidden;
    margin-bottom: 2rem;
    outline: #f8f2dc solid 3px;
    margin-top: 2rem;
}
.row3 p {
    font-size: 1rem;
}
.row3 .fname {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #e84855;
    color: #ffffff;
}

.course-list div {
    display: flex;
    gap: 1rem;
}
.student-info {
    padding: 3rem;
}

#logout {
    cursor: pointer;
}