@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.roboto-regular {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

.roboto-medium {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
}

body {
    background-color: #f8f2dc;
    overflow-x: hidden;
    font-family: "Inconsolata", sans-serif;
    font-weight: 600;
}


/* ratio one styles */
.ratio-one{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: #3A0CA3;
    color: #f8f2dc;
    font-size: 1.4rem;
}
.img-container {
    border-radius: 50%;
    width: 50%;
    height: 10rem;
    overflow: hidden;
    margin-bottom: 2rem;
    outline: #f8f2dc solid 3px;
    margin-top: 2rem;
}
.row3 p {
    font-size: 1rem;
}
.row3 .fname {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.menu-btn p{
    margin-bottom: 2rem;
    cursor: pointer;
}


/* ratio-two styles */
.ratio-two {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.first-row {
    display: flex;
    gap: 4rem;
    align-items: center;
}
.total-teacher,
.total-student {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #e84855;
    padding: 2rem 0;
    width: 12rem;
    font-size: 3rem;
    color: #f8f2dc;
}

input[type=text], input[type=password]{
    /* width:80%; */
    padding: .1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #e84855;
    color: #f8f2dc;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: right; */
  }
  
  input[type=submit]:hover {
    background-color:rgb(232, 72, 85, 0.7);
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

/*** second row style***/
  .second-row {
    display: flex;
    gap: 2rem;
  }
  .first-half {
    position: relative;
}
/* .second-half {
    width: 50%;
} */
.form-row label{
    color: #30343F;
  }
  
.course-reg {
    color: #30343F;
    font-size: 2rem;
  }

.register {
    /* position: relative; */
    background: #e84855;
    padding: 2rem;
    color:#f8f2dc;
    font-size: 1rem;
    /* width: 100%; */
}
.all-style {
    display: flex;
    gap: 1rem;

}

.register p,
.enrollment-form p {
    font-size: 2rem;
    color: #f8f2dc;
}

.enrollment-form p {
    font-size: 2rem;
    color: #30343F;
}
#submit {
    /* position: absolute; */
    /* bottom: 2rem;
    left: 25rem; */
    background-color: #3A0CA3;
}

#submit:hover {
    background-color: rgb(58, 12, 163, 0.7);
} 

input[type=file] {
    margin-bottom: 1.5rem;
}

.search-btn {
    margin-top: 1rem;
}

#logout {
    cursor: pointer;
}