@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.roboto-regular {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
}

.roboto-medium {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-style: normal;
}

body {
    background-color: #f8f2dc;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}


/* ratio one styles */
.ratio-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}


/* ratio-two styles */

.admin-details .details {
    background: #3A0CA3;
    padding: 3rem;
}
.infomatics .informatt {
    text-align: center;
}
.informat {
    gap: 2rem;
    color: #ffffff;
    font-size: 2rem;
}

.informat .total-teacher,
.informat .total-student {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #e84855;
    padding: 1.5rem 0;
    width: 12rem;
}

.informat .total-teacher span,
.informat .total-student span {
    font-size: 4rem;
}

input[type=text], input[type=password]{
    width:80%;
    padding: .4rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* resize: vertical; */
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #e84855;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float: right; */
  }
  
  input[type=submit]:hover {
    background-color:rgb(232, 72, 85, 0.7);
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .form-row::after {
    content: "";
    display: table;
    clear: both;
  }

/*** sign up page style ***/
.register {
    position: relative;
    background: #e84855;
    padding: 2rem;
    color: #ffffff;
    font-size: 1rem;
}
.all-style option {
    font-size: 1rem;
}

.all-style input,
.all-style select {
    margin-bottom: .4rem;
}

.admin-signup {
    display: flex;
    gap: 2rem;
}

#submit {
    position: absolute;
    bottom: 2rem;
    left: 25rem;
    background-color: #3A0CA3;
}

#submit:hover {
    background-color: rgb(58, 12, 163, 0.7);
}

.register input[type=text] {
    width: 100%;

}

.register p {
    font-size: 2rem;
    color: #3A0CA3;
}

.enrollment-form p,
#enroll-course p {
    font-size: 2rem;
    color: #e84855;
}